<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sas.mapper.CompanyMapper">
    <select id="listCompanys" parameterType="java.util.Map" resultType="com.sas.entity.CompanyEntity">
        select  * from companys
        <where>
            <if test="startTime !=null and startTime !=''">
                and update_time between #{startTime} and #{endTime}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="code != null and code != ''">
                and code like concat('%',#{code},'%')
            </if>
            and bactive=1
        </where>
    </select>
    <insert id="insertCompanyById"  keyProperty="id" parameterType="com.sas.entity.CompanyEntity">
        INSERT INTO companys(id,name,code,place,update_time) VALUES(#{id}, #{name}, #{code}, #{place},NOW())
    </insert>

    <update id="updateById" parameterType="com.sas.entity.CompanyEntity">
        UPDATE companys
        SET name=#{name},
        code=#{code},
        place=#{place},
        update_time=now()
        WHERE id=#{id}
    </update>

    <delete id="deleteCompanyById">
        DELETE FROM companys WHERE id=#{id} limit 1
    </delete>
</mapper>